<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PM</title>
<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body class="container">

	<div class="page-header">PM - app ( Express + Mongo )</div>
	
	
	<div class="well"><%=message%></div>
	<pre>
		<%=error %>
	</pre>
	

</body>
</html>